li,
nav {
  display: inline-block;
  margin-right: 30px;
  margin-top: 5px;
}

header {
  margin-top: 10px;
}

header img {
  vertical-align: top;
}

.container {
  margin-left: 138px;
}
.cardimg {
  position: relative;
}
.cardimg h3 {
  position: absolute;
  top: 32px;
  left: 41px;
  color: #fff;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card {
  width: 362px;
  background-color: white;
  display: inline-block;
  margin-right: 40px;
}
.tr {
  color: #000;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 42px;
  margin-bottom: 27px;
}

.card p {
  color: #8a8787;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.logocard,
.logotxt {
  margin-top: 14px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 41px;
}

.cardimg img {
  margin-bottom: 68px;
}

.cardtxts {
  width: 238px;
  margin-left: 37px;
  margin-right: 87px;
}
body {
  background: #f1f1f1;
}

.footertxt {
  display: inline-block;
  color: #818687;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 75px;
}
h4 {
  display: inline-block;
}
footer {
  width: 100%;
  background: #243043;
  height: 201px;
  padding-top: 49px;
}

footer h4 {
  color: #fff;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 112px;
  vertical-align: top;
}

footer img {
  margin-left: 416px;
}

.main {
  position: relative;
}

.img3 {
  position: absolute;
  top: 0px;
  right: 137px;
}
.img4 {
  position: absolute;
  top: 310px;
  right: 137px;
}

.img5 {
  position: absolute;
  top: 620px;
  right: 137px;
}

.img1 {
  margin-bottom: 42px;
}

.img2 {
  margin-bottom: 36px;
}
